body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.success {
    text-align: center;
    color: green;
    margin-bottom: 15px;
}


.container-table {
    width: 90%;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table tr:hover {
    background-color: #f1f1f1;
}

.btn-add {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-edit {
    padding: 5px 10px;
    background-color: #ffc107;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.btn-delete {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-add:hover,
.btn-edit:hover,
.btn-delete:hover {
    opacity: 0.85;
}


.btn-back {
    display: block;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    background-color: #6c757d;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn-back:hover {
    background-color: #5a6268;
}
